* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
  min-height: 10vh;
}

.nav-bar .logo {
  font-size: 1.6rem;
  color: #c73c56;
}

.nav-bar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  list-style: none;
}

.nav-bar .nav-links li a {
  text-decoration: none;
  color: black;
}

.nav-bar .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar .icon .shop-icon {
  width: 35px;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav-bar .icon .circle {
  width: 50px;
  height: 50px;
  background-color: #c73c56;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  right: 85px;
  top: 25px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50vh;
  width: 90%;
  margin: 0 auto;
}

.main-content .left {
  width: 50%;
}

.main-content .left .heading-main {
  font-size: 4rem;
}

.main-content .left .heading-main .world {
  color: #fff;
  background-color: #c73c56;
}

.main-content .left .paragraph-main {
  margin-top: 1rem;
}

.main-content .left .buy-btn {
  padding: .75rem 1.75rem;
  border-radius: 25px;
  margin-top: 1rem;
  border: none;
  background-color: #c73c56;
  color: #fff;
}

.main-content .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-content .right .main-photo {
  width: 350px;
  height: 350px;
}

.main-content .right .mini-circle {
  width: 100px;
  height: 100px;
  background-color: #c73c56;
  border-radius: 50%;
}

.main-content .right .mini-circle .view {
  color: #fff;
}

.second-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
}

.second-content .left2 {
  width: 33%;
}

.second-content .left2 .product {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.second-content .left2 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.second-content .left2 .card .card1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-content .left2 .card .card1 .sub-left .sub-background {
  background-color: #c73c56;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-content .left2 .card .card1 .sub-left .sub-img {
  width: 100px;
  height: 100px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.second-content .left2 .card .card1 .sub-right {
  margin: 0 1rem;
}

.second-content .left2 .card .card1 .sub-right .head {
  font-size: 1rem;
}

.second-content .left2 .card .card1 .sub-right .head::before {
  content: "01";
  color: #c73c56;
  margin: 0 1rem;
}

.second-content .left2 .card .card1 .sub-right p {
  margin-top: 1rem;
}

.second-content .left2 .card2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5rem;
}

.second-content .left2 .card2 .sub-left2 .sub-background2 {
  background-color: #c73c56;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-content .left2 .card2 .sub-left2 .sub-img2 {
  width: 100px;
  height: 100px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.second-content .left2 .card2 .sub-right2 {
  margin: 0 1rem;
}

.second-content .left2 .card2 .sub-right2 .head2 {
  font-size: 1rem;
}

.second-content .left2 .card2 .sub-right2 .head2::before {
  content: "02";
  color: #c73c56;
  margin: 0 1rem;
}

.second-content .left2 .card2 .sub-right2 p {
  margin-top: 1rem;
}

.second-content .middle {
  width: 33%;
}

.second-content .middle .middle-heading {
  font-size: 1rem;
}

.second-content .middle #scroll .div-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.second-content .middle #scroll .div-scroll .star {
  margin-left: 1rem;
}

.second-content .middle #scroll .div-scroll .star:hover {
  cursor: pointer;
}

.second-content .right2 {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-content .right2 .right-heading {
  font-size: 1rem;
}

.second-content .right2 .right-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #c73c56;
  width: 50%;
  height: 50%;
}

.second-content .right2 .right-right .amazfit-right {
  width: 200px;
  height: 200px;
}

.second-content .right2 .right-right .amazfit-right::before {
  content: "SmartWatch";
}
/*# sourceMappingURL=style.css.map */